{
  "plugins": [
    "transform-es2015-modules-commonjs",
    [
      "module-resolver",
      {
        "alias": {
          "countries-by-gdp-per-capita-cia": "./src",
        }
      }
    ]
  ]
}
